source "drivers/serial/Kconfig"
source "drivers/gpio/Kconfig"
source "drivers/i2c/Kconfig"
source "drivers/spi/Kconfig"
source "drivers/pwm/Kconfig"
source "drivers/watchdog/Kconfig"
source "drivers/counter/Kconfig"
source "drivers/adc/Kconfig"
source "drivers/rtc/Kconfig"
source "drivers/flash/Kconfig"
source "drivers/dma/Kconfig"
