# Copyright (c) 2024 Vango Technologies
# SPDX-License-Identifier: Apache-2.0

source "$(ZEPHYR_V32F20X_SOC_MODULE_DIR)/soc/vango/v32f20x/Kconfig.soc"

config SOC_FAMILY
    string
    default "vango" if SOC_FAMILY_VANGO

config SOC_SERIES
    string
    default "v32f20x" if SOC_SERIES_V32F20X

config SOC
    string
    default "v32f20x" if SOC_SERIES_V32F20X

# 1. Register HAL capability
config HAS_V32F20X_HAL
    bool
    default y
    depends on SOC_SERIES_V32F20X

# 2. Select HAL Component Symbols
if SOC_SERIES_V32F20X

config VANGO_V32F20X_HAL_ADC
    bool
    default y if ADC
config VANGO_V32F20X_HAL_CAN
    bool
    default y if CAN
config VANGO_V32F20X_HAL_CLK
    bool
    default y
config VANGO_V32F20X_HAL_CRC
    bool
    default y
config VANGO_V32F20X_HAL_CRYPT
    bool
    default y
config VANGO_V32F20X_HAL_DAC
    bool
    default y
config VANGO_V32F20X_HAL_GPIO
    bool
    default y
config VANGO_V32F20X_HAL_I2C
    bool
    default y if I2C
config VANGO_V32F20X_HAL_UART
    bool
    default y if SERIAL
config VANGO_V32F20X_HAL_SPI
    bool
    default y if SPI
config VANGO_V32F20X_HAL_SYSCFG
    bool
    default y
config VANGO_V32F20X_HAL_TIMER
    bool
    default y
config VANGO_V32F20X_HAL_WDT
    bool
    default y if WATCHDOG
config VANGO_V32F20X_HAL_MAILBOX
    bool
    default y if MBOX_V32F20X
config VANGO_V32F20X_HAL_MISC
    bool
    default y

endif
