/dts-v1/;
#include <arm/vango/v32f20x/v32f20x.dtsi>

/ {
    model = "V32F20X Development Board (CPU0 - CM0)";
    compatible = "vango,v32f20x-board";

    chosen {
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        zephyr,console = &uart14;
        zephyr,shell-uart = &uart14;
    };

    aliases {
        uart-0 = &uart14;
        gpio-0 = &gpioa;
        gpio-1 = &gpiob;
    };
};

&nvic {
    compatible = "arm,v6m-nvic";
    arm,num-irq-priority-bits = <2>;
};

&systick {
    compatible = "arm,armv6m-systick";
};

&uart14 {
    pinctrl-0 = <&uart14_default>;
    pinctrl-names = "default";
    status = "okay";
    current-speed = <115200>;
};

&pinctrl {
    uart14_default: uart14_default {
        group1 {
            pinmux = <VANGO_PINMUX(VANGO_PORT_G, 0, 1)>, /* UART14_TX placeholder */
                     <VANGO_PINMUX(VANGO_PORT_G, 1, 1)>; /* UART14_RX placeholder */
        };
    };
};
